[Unit]
Description = uWSGI
After = syslog.target

[Service]
WorkingDirectory=/usr/share/nginx/uwsgi
Environment="PATH=/usr/share/nginx/uwsgi/venv/bin"
ExecStart = /usr/share/nginx/uwsgi/venv/bin/uwsgi --ini /usr/share/nginx/uwsgi/uwsgi.ini
Restart=always
KillSignal=SIGQUIT
Type=notify
StandardError=syslog
NotifyAccess=all

[Install]
WantedBy=multi-user.target

